<footer class="footer">
    
    <span class="footer__copyright">
    	<a href="<%= config.url %>" target="_blank">本站</a> 由 
    	<a href="https://hexo.io/" target="_blank">Hexo</a> 生成，
        <a href="https://shlyren.com" target="_blank"><%- theme.author %></a> 创建，采用 
    	<a href="https://github.com/someus/huno" target="_blank">Huno</a> 为主题，您可以查看本站 
        <a href="https://github.com/shlyren/blog" target="_blank">源代码</a> .
    </span>

     <span class="footer__copyright">
        Copyright &copy; <%- theme.since %>年 
        <a href="<%= config.social.mail %>"><%- theme.author %></a>. All rights reserved. 

        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259844339'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259844339%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
     </span>

</footer>

